.atw-box {
    border-style: solid;
}

.card {
    display: inline-block;
}

.map {
    height: 34vh;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}