.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

#navbarDropDowns {
    cursor: pointer;
}

.favicon {
    width: 50px;
}

.flag-top {
    width: 100px;
    height: 65px;
    min-height: 65px;
}

.flag-button {
    width: 50px;
    height: 37px;
    min-height: 37px;
}

.flag-dropdown {
    width: 30px;
    margin-left: 0rem;
    margin-right: 0.25rem;
}

.flag-button,
.flag-dropdown {
    pointer-events: none;
    cursor: pointer;
}

.dropdown-item {
    padding: 0.25rem;
    margin-right: 2.25rem;
}

.api-button.collapsed:before
{
    content:'+' ;
    display:block;
    width:15px;
}
.api-button:before
{
    content:'-' ;
    display:block;
    width:15px;
}

.news-picture {
    width: 15%;
    height: 7%;
    min-height: 7%;
}

.list-group {
    transition: all .2s ease-in-out;
}

.list-group:hover {
  transform: scale(1.02);
}

.weather {
    color: #fff;
    background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%);
}

.weather-icon {
    width: 64px;
    height: 64px;
    min-height: 64px;
}

.webcam-picture {
    width: 213px;
    height: 123px;
    min-height: 123px;
}

.wiki {

}

.card {
    display: inline-block;
}

.map {
    height: 34vh;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}